<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h6><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h6>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--  <div class="card_home_maior">-->
<!--    <div class="card_home">-->

<!--    </div>-->
<!--  </div>-->
  <div class="card_form_client">
    <div class="form_client">
      <%= form.label :nome, style: "margin-right: 5%;" %>
      <%= form.text_field :nome %>
    </div>

    <div class="form_client">
      <%= form.label :email, style: "margin-right: 5%;"  %>
      <%= form.text_field :email %>
    </div>

    <div class="form_client">
      <%= form.label :telefone, style: "margin-right: 5%;"  %>
      <%= form.text_field :telefone %>
    </div>

    <% if controller_name == 'clients' && action_name == 'new' %>
      <div style="width: 100%">
        <%= button_to "CADASTRAR", items_index_path, method: :get, class: "btn_cadastrar", style: "margin-top: 5%;" %>
      </div>
      <div class="index_show" style="margin-top: 20px">
        <h6>Já possui cadastro? Faça o login.</h6>
        <%= button_to "LOGIN", items_index_path, method: :get, class: "btn_login" %>
      </div>
    <% end %>

    <% if controller_name == 'clients' && action_name == 'edit' %>
      <div style="width: 100%">
        <%= button_to "EDITAR", items_index_path, method: :get, class: "btn_cadastrar", style: "margin-top: 5%;" %>
      </div>
    <% end %>

  </div>
<% end %>
