<div>
  <div class="display_show" style="width: 100%; border-bottom: 1px solid darkgrey">
    <div class="display_show">
      <h3>PEDIDO</h3>
      <p><%= image_tag "bslogo1.png", class: "img_logo_cardapio" %></p>
    </div>
    <div class="div_btn_navbar">
      <div style="margin: 5px">
        <%= button_tag "Chat" %>
      </div>
    </div>
  </div>
  <div class="card_orders">
    <p style="color: green"><%= notice %></p>
    <div style="margin-bottom: 20px">
      <h3 class="title_order">Pedido</h3>
    </div>

    <div style="margin-bottom: 20px">
      <h3 class="title_order">Em preparo</h3>
      <div>
        <div id="orders">
          <% @orders.each do |order| %>
            <%= render order %>
<!--            <div>-->
              <%= order.client_id %>
<!--            </div>-->
            <p>
              <%= link_to "Show this order", order %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 20px;">
      <h3 class="title_order">Pronto</h3>
      <div>
        <div id="orders">
          <% @orders.each do |order| %>
            <%= render order %>
<!--            <div>-->
              <%#= list_items(@order) %>
<!--            </div>-->
            <p>
              <%= link_to "Show this order", order %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%#= link_to "New order", new_order_path %>
</div>
<div class="display_show">
  <i class="fas fa-arrow-left" style="margin-right: 2px"></i>
  <%= link_to "VOLTAR ", items_index_path %>
  <div style="justify-content: center; text-align: center"><%= button_tag "Pedir Conta", class: "btn_conta" %></div>

</div>
