<p style="color: green"><%= notice %></p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function setStatus (status, id) {
    $.ajax({
      url: '<%= set_status_path %>',
      method: 'POST',
      headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      data: { status: status,
        id: id,
      },
      success: function() {
        console.log(id);
      },
      error: function() {
        console.error('Failed to call Ruby function');
      }
    });
    location.reload();
  };
</script>

<%= render @order %>
<div>
  <div class="card d-flex">
    <h2>Pendente</h2>
    <div class="d-flex align-content-end flex-wrap">
      <% @order_items.each do |item| %>
        <% if item.status == 'pedido' %>
          <div div class="card" style="width:18rem; height:18rem; margin: 1em;">
            <div class="card-img-top">
              <p><%= image_tag "dish.png", class: "card-img-top",style: "width:14rem; height:10rem;"%></p>
            </div>
            <h3 class="card-title"><%= item.item_nome %></h3>
            <p class="font-weight-light" style="color:grey"> Pendente </p>
            <div>
              <button onclick="setStatus(1, <%= item.id %>)" class="btn btn-warning">Aceitar</button>
              <button onclick="setStatus(3, <%= item.id %>)" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card d-flex">
    <h2>Em Preparo</h2>
    <div class="d-flex align-content-end flex-wrap">
      <% @order_items.each do |item| %>
        <% if item.status == 'em_preparo'%>
          <div div class="card" style="width:18rem; height:18rem; margin: 1em;">
            <div class="card-img-top">
              <p><%= image_tag "dish.png", class: "card-img-top",style: "width:14rem; height:10rem;"%></p>
            </div>
            <h3 class="card-title"><%= item.item_nome %></h3>
            <p class="font-weight-light" style="color:yellow"> Em Preparo </p>
            <div>
              <button onclick="setStatus(2, <%= item.id %>)" class="btn btn-success">Pronto</button>
              <button onclick="setStatus(3, <%= item.id %>)" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card d-flex">
    <h2>Pronto</h2>
    <div class="d-flex align-content-end flex-wrap">
      <% @order_items.each do |item| %>
        <% if item.status == 'pronto'%>
          <div div class="card" style="width:18rem; height:18rem; margin: 1em;">
            <div class="card-img-top">
              <p><%= image_tag "dish.png", class: "card-img-top",style: "width:14rem; height:10rem;"%></p>
            </div>
            <h3 class="card-title"><%= item.item_nome %></h3>
            <p class="font-weight-light" style="color:green"> Pronto </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card d-flex">
    <h2>Cancelado</h2>
    <div class="d-flex align-content-end flex-wrap">
      <% @order_items.each do |item| %>
        <% if item.status == 'cancelado'%>
          <div div class="card" style="width:18rem; height:18rem; margin: 1em;">
            <div class="card-img-top">
              <p><%= image_tag "dish.png", class: "card-img-top",style: "width:14rem; height:10rem;"%></p>
            </div>
            <h3 class="card-title"><%= item.item_nome %></h3>
            <p class="font-weight-light" style="color:red"> Cancelado </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>     
</div>


<!-- 
<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
-->