<div id="<%= dom_id payment %>">
  <p>
    <strong>Forma pagamento:</strong>
    <%= payment.forma_pagamento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= payment.valor %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= payment.data %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= payment.client_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

</div>
