<head>
  <%= csrf_meta_tags %>
</head>
    <% if controller_name == 'items' && action_name == 'index' %>
      <div id="<%= dom_id item %>" class="card_itens" style="background-color: white; border-radius: 5%; font-size: 12px">
        <div>
          <p><%= image_tag "taco.png", class: "img_items" %></p>

          <h4>
            <strong>Nome:</strong>
            <%= item.nome %>
          </h4>

          <h4>
            <strong>Preço:</strong>
            <%= item.preco_unitario %>
          </h4>
          <%= link_to "Ver detalhes", item %>
        </div>
      </div>
    <% end %>

    <% if controller_name == 'items' && action_name == 'show' %>
      <div class="card_itens_show">
        <div class="card_img_show">
          <p><%= image_tag "dish.png", class: "img_items_show" %></p>
        </div>
        <h3>
          <strong>Nome:</strong>
          <%= item.nome %>
        </h3>

        <h4>
          <strong>Preço:</strong>
          <%= item.preco_unitario %>
        </h4>
        <p>
          <strong>Descricao:</strong>
          <%= item.descricao %>
        </p>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
        <script>

          let jsValue

          function getValue ()
          {
            jsValue = document.getElementById('quant_itens').value
          };

          function addItem () {
            window.location.href = '/items'
            $.ajax({
              url: '<%= order_item_path %>',
              method: 'POST',
              headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
              data: { quant: jsValue,
                      id_client: '<%= last_id %>',
                      id_item: '<%= @item.id %>',
                    },
              success: function() {
                console.log('Success')
              },
              error: function() {
                console.error('Failed to call Ruby function');
              }
            });
          };
        </script>

        <p>
          <strong>Categoria:</strong>
          <%= item.category.nome %>
        </p>
        <div class="display_show_items_order">
          <div>
            <label for="numbers_item"></label>
            <input type="number" id="quant_itens" name="quant_itens" min="0" max="100" onchange = "getValue()"/>
            <button onclick="addItem()">Add</button>
          </div>
        </div>
      </div>
    <% end %>

