<div id="<%= dom_id item %>" class="card_itens">
  <div style="background-color: white; border-radius: 5%; font-size: 12px">

    <p><%= image_tag "bslogo1.png", class: "img_items" %></p>

    <h3>
      <strong>Nome:</strong>
      <%= item.nome %>
    </h3>

    <h4>
      <strong>Preço:</strong>
      <%= item.preco_unitario %>
    </h4>
<!--    <p>-->
<!--      <strong>Descricao:</strong>-->
      <%#= item.descricao %>
<!--    </p>-->

  <!--  <p>-->
  <!--    <strong>Quantidade:</strong>-->
      <%#= item.quantidade %>
  <!--  </p>-->

  <!--  <p>-->
  <!--    <strong>Categoria:</strong>-->
      <%#= item.categoria %>
  <!--  </p>-->
    <%= link_to "Show this item", item %>
  </div>
</div>
