
    <% if controller_name == 'items' && action_name == 'index' %>
      <div id="<%= dom_id item %>" class="card_itens" style="background-color: white; border-radius: 5%; font-size: 12px">
        <div>
          <p><%= image_tag "taco.png", class: "img_items" %></p>

          <h4>
            <strong>Nome:</strong>
            <%= item.nome %>
          </h4>

          <h4>
            <strong>Preço:</strong>
            <%= item.preco_unitario %>
          </h4>
          <%= link_to "Ver detalhes", item %>
        </div>
      </div>
    <% end %>

    <% if controller_name == 'items' && action_name == 'show' %>
      <div class="card_itens_show">
        <div class="card_img_show">
          <p><%= image_tag "dish.png", class: "img_items_show" %></p>
        </div>
        <h3>
          <strong>Nome:</strong>
          <%= item.nome %>
        </h3>

        <h4>
          <strong>Preço:</strong>
          <%= item.preco_unitario %>
        </h4>
        <p>
          <strong>Descricao:</strong>
          <%= item.descricao %>
        </p>

        <p>
          <strong>Categoria:</strong>
          <%= item.category.nome %>
        </p>
        <div class="display_show_items_order">
          <label for="numbers_item"></label><input type="number" id="numbers_item" name="numbers_item" min="0" max="100" />
          <div>
            <% id_client = last_id -%>
            <%= button_to 'Add' %>
            <%#= button_to 'Add', adicionar_item(id_client, @item) %>
          </div>
        </div>
      </div>
    <% end %>

