<div id="<%= dom_id item %>">
  <p>
    <strong>Nome:</strong>
    <%= item.nome %>
  </p>

  <p>
    <strong>Preco unitario:</strong>
    <%= item.preco_unitario %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= item.descricao %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= item.quantidade %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= item.categoria %>
  </p>

</div>
