<div>
  <div class="display_show" style="width: 100%; border-bottom: 1px solid darkgrey">
    <div class="display_show">
      <h3>CARDÁPIO</h3>
      <p><%= image_tag "bslogo1.png", class: "img_logo_cardapio" %></p>
    </div>
    <div class="div_btn_navbar">
      <div style="margin: 5px">
        <%= button_tag "Chat" %>
      </div>
<!--      <div style="margin: 5px">-->
        <%#= button_to "Pedido", order_path(Order.last.id), method: :get %>
<!--      </div>-->
      <!--      <div style="margin: 5px">-->
      <%# if user_signed_in? %>
      <%# nome = current_user.email %>
      <%#= button_to nome %>
      <%# end %>
      <!--      </div>-->
<!--      <div style="margin: 5px">-->
        <%# if user_signed_in? %>
          <%#= button_to "Logout", destroy_user_session_path, method: :delete %>
        <%# end %>
<!--      </div>-->
      <!--      <div style="margin: 5px">-->
      <%#= link_to 'Logout', root_path, method: :delete %>
      <!--      </div>-->
    </div>
  </div>

  <div style="margin-bottom: 40px; margin-top: 10px">
<!--    <h4>Bem vindo, <%#= current_user.email %>!</h4>-->
    <!--    <h4>Categorias</h4>-->
    <%= list %>

  </div>
  <div class="index_show">
    <p style="color: green"><%= notice %></p>
    <div id="items" class="display_show" style="flex-wrap: wrap">
      <% @items.each do |item| %>
        <div class="display_show" style="margin: 10px">
          <%= render item %>
        </div>
      <% end %>
    </div>

    <%#= link_to "New item", new_item_path %>
  </div>
  <div class="index_show" style="justify-content: center; text-align: center">
    <%= paginate @items %>
  </div>
</div>